.sidenav{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: beige;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #111;
}

.sidenav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav.active{
    left: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burgerIcon span{
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    

}

#openBtn {
    /* margin-left: 2rem; */
    place-self: center;
    
}