*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body.active {
    overflow: hidden;
}


head title{
    display: none;
}

header{
    display: flex;
    width: 100%;
    background-color: rgb(180, 139, 85);
    padding: 0.4rem;
    border-bottom: solid 1px;
    justify-content: space-around;
    
    
}

a{
    text-decoration: none;
    color: inherit;
}

.logo{
    width: 20%;
    max-width: 100%;
    border-radius: 50%;
    border-style: revert;
    background-image: none;
    size: auto;
    
    
}

.sidenav{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    
    width: 15rem;
    height: 30rem;
    top: 0;
    /* left: -250px; */
    right: -250px;
    /*border-left: 0.1rem solid black;
    border-bottom: 0.1rem solid black ;*/
    /* box-shadow: -10px 12px 45px 0px rgb(0, 0, 0); */
    transition: 0.8s ease;
    
    
    
}

.sidenav.active{
    right: 0;
    box-shadow: -10px 12px 45px 0px rgb(0, 0, 0);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

}

.close{
    width: 18px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    margin-left: 0.5rem;
}

.userPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}


.avatar{
    width: 58%;
    border-radius: 50%;
}

.buttonConnect {
    border-radius: 18%;
    padding: 0.4rem;
    border: 0.1rem solid rgb(79, 163, 202);
    box-shadow: 4px 6px teal;
    font-family: 'Raleway', sans-serif
}

/*.logIn{
    margin-top: 0.5rem;
    background-color: grey;
    border-radius: 2rem;
    width: 8rem;
    height: 1.7rem;
    text-align: center;
    
}*/

.sideNavList{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.onglets{
    display: none;
    position: absolute;
    top: 0;
  
}

.srcBar{
    justify-content: center;
}

.sideNavItem{
    padding: 0.8rem;
    font-family: 'Raleway', sans-serif
}

#openBtn{
    /* display: flex;
    align-items: center; */
    
}

.burgerIcon{
   display: flex;
   justify-content: space-between;
   align-items: center;
   

}

/* .burgerIcon.Active{

} */

.burgerBar{
    display: list-item;
    background-color: black;
    width: 40px;
    height: 8px;
    margin: 1.8px;
    list-style: none;
    
    
}

.bloc1 h1:hover{
    /* text-decoration: underline; */
    background-color: rgba(255, 255, 255, 0.365);
    border-radius: 15px;
    transition-delay: 50ms;
    
}

.bloc2 h1:hover{
    text-decoration: underline;
}

.bloc3 h1:hover{
    text-decoration: underline;
}


header input{
    place-self: center;
    height: 2.5rem;
    margin-right: 1.5rem;
    border: 0.5px solid rgb(72, 69, 69);
    border-radius: 50px;
    box-shadow: none;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

input:focus{
    outline: none;
    outline-style: inherit;
    border-color: rgba(14, 129, 229, 0.733);
    border-spacing: 5px; 
    
}




input:focus::placeholder{
    color: transparent;
}

input::placeholder{
    color: rgba(113, 113, 113, 0.363);
}



p{
    font-family: 'Raleway', sans-serif; 
    line-height: 1.3rem;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    padding-top: 1rem;
    background-color: rgba(255, 216, 125, 0.814); 
    min-height: calc(100vh - 89.22px - 155.98px);

   
    
}

h1,
h2,
h3{
    font-family: 'Orelega One', serif;
    font-weight: bold;
    font-size: 1.2em;
    font-weight: 520;
    letter-spacing: 1px;
    border-radius: 15px;
}

a h1{
    padding-top: 0.4rem;
}


.title1,
.title2,
.title3{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin-left: auto;
    margin-right: auto;
}




.sepBar{
  width: 50%;
  height: 1px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  
}




.RALU{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.34);
    
    
}



.bloc1{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    text-align: center;
    background-color: rgba(255, 216, 125, 0.814);
    padding-top: 1.2rem
    
}

.baba{
    width: 88%;
    height: auto;
    border-radius: 50px;
    border: solid rgb(255, 255, 255)4.5px;
    border-spacing: 35px;
    
}



.bloc1 p{
    padding-top: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 1.2rem;
}



.bloc2{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    text-align: center;
    padding-top: 1.8rem;
    background-color: rgba(255, 185, 63, 0.826)s

}
   
.poulet{
    width: 88%;
    border-radius: 50px;
    border: solid rgb(255, 255, 255)4.5px;
    border-spacing: 35px;   
}

.bloc2 p{
    margin-top: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 1.2rem;
}

.bloc3{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    text-align: center;
    padding-top: 1.8rem;
    background-color: rgb(255, 216, 125);
    
}

.flan{
    width: 88%;
    border-radius: 50px;
    border: solid rgb(255, 255, 255)4.5px;
    border-spacing: 35px;
}

.bloc3 p{
    margin-top: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 1.2rem;
}

.ADJ {
    display: flex;
    flex-direction: column;
    /* flex-flow: wrap;  */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;

}

.ADJ p{
    margin-top: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 1.2rem;
}

.ampoule{
    place-self: center;
    width: 88%;
    border-radius: 50px;
    border: solid rgb(255, 255, 255)4.5px;
    border-spacing: 35px;
}

.vieille{
    display: none;
}

.SDI {
    
    padding-top: 1.3rem;
}

.salade{
    max-width: 88%;
    border-radius: 50px;
    border: solid rgb(255, 255, 255)4.5px;
    border-spacing: 35px;
} 

.saumon{
    max-width: 88%;
    border-radius: 50px;
    border: solid rgb(255, 255, 255)4.5px;
    border-spacing: 35px;
}

.tartiflette{
    max-width: 88%;
    border-radius: 50px;
    border: solid rgb(255, 255, 255)4.5px;
    border-spacing: 35px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border: solid rgb(0, 0, 0) 1px;
    border-left: 0;
    border-right: 0;
    font-family: 'Raleway', sans-serif; 
    line-height: 1.8rem;
    background-color: rgb(180, 139, 85);

}

.liste1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    
   
}

.liste2 {
list-style-type: none;
text-align: center;
}

.facebook{
    width: 22%;
}

.twitter{
    width: 15%;
    border-radius: 50%;
}

.tiktok{
    width: 15%;
    border-radius: 50%;
}

@media screen and (min-width: 769px){
       .baba .flan .poulet .ampoule .tarfiflette .saumon .salade {
        width: 50%;
       }
       
            
        }
       
    